<!-- Navigation -->

<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img id="logo" src="/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <%if (activeItem === 0) {%>
                        <li class="nav-item active">
                            <a id="nav-home" class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                <%} else{%>
                        <li class="nav-item">
                            <a id="nav-home" class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                <%}%>

                    <%if (activeItem=== 2){%>
                        <li class="nav-item active">
                            <a id="nav-class" class="nav-link" href="/api/v1/class">PlayerClass</a>
                        </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a id="nav-class" class="nav-link" href="/api/v1/class">PlayerClass</a>
                        </li>
                    <%}%>
                    <%if (activeItem=== 3){%>
                        <li class="nav-item active">
                            <a id="nav-rarity" class="nav-link" href="/api/v1/rarity">Rarity</a>
                        </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a id="nav-rarity" class="nav-link" href="/api/v1/rarity">Rarity</a>
                        </li>
                    <%}%>
                    <%if (activeItem=== 4){%>
                        <li class="nav-item active">
                            <a id="nav-cardback" class="nav-link" href="/api/v1/cardback?pageNum=1">CardBacks</a>
                        </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a id="nav-cardback" class="nav-link" href="/api/v1/cardback?pageNum=1">CardBacks</a>
                        </li>
                    <%}%>

                <%if (activeItem=== 1){%>
                        <li class="nav-item active">
                            <a id="nav-contact" class="nav-link" href="/contact">Contact</a>
                        </li>
                <%} else {%>
                        <li class="nav-item">
                            <a id="nav-contact" class="nav-link" href="/contact">Contact</a>
                        </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-white">
        <h1 class="display-4">HearthStone Wiki</h1>
        <p class="lead">In the name of the Lich King!!!</p>
    </div>
</div>


