<!DOCTYPE html>
<html>
<head>
    <%include partials/header%>
    <title>Contact</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

<%include partials/navbar%>

<div class="container">
    <h1 class="mt-4">Welcome to HearthStone Wiki By Yang Guo!</h1>
    <div class="card mb-5 mt-4">
        <div class="card-header">
            Contact Info
        </div>
        <div class="card-body">
            <h5 class="card-title">If you have any question, feel free to contact me!</h5>
            <p class="card-text">Email:guoyanghg@ucla.edu</p>
            <p class="card-text">GitHub:https://github.com/guoyanghg</p>
        </div>
    </div>


</div>
<%include partials/script%>

</body>
</html>