<!DOCTYPE html>
<html>
<head>
    <%include partials/header%>
    <title>Contact</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

<%include partials/navbar%>

<div class="container">
    <h1 class="mt-4">Welcome to HearthStone Wiki By Yang Guo!</h1>
    <div class="card mb-5 mt-4">
        <div class="card-header">
            <b>Contact Info</b>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th scope="row">Email:</th>
                    <td>guoyanghg@ucla.edu</td>
                </tr>
                <tr>
                    <th scope="row">Github:</th>
                    <td>https://github.com/guoyanghg</td>
                </tr>
                <tr>
                    <th scope="row">LinkedIn:</th>
                    <td>https://www.linkedin.com/in/594yangguo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<%include partials/footer.ejs%>
<%include partials/script%>

</body>
</html>