<!DOCTYPE html>
<html>
  <head>
    <title>HearthStone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><% for(var i=0;i<4;i++){%>
      <tr>
        <td>
      <%= cards[i].name%>
      </td>
      </tr>
      <% } %></h1>
    <p>Welcome to HearthStone</p>
  </body>
</html>
