<!DOCTYPE html>
<html>
  <head>
    <%include partials/header%>
    <title>HearthStone</title>
  </head>
  <body>

  <%include partials/navbar%>

  <div class="container">
    <h1 class="mt-4">Welcome to HearthStone</h1>
    <a href="./api/v1/class">Go to the class page!</a>
  </div>
  <%include partials/script%>
  </body>
</html>
