@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.frontside .card,
.backside .card {
    height: 520px;
}

.backside .card a {
    font-size: 18px;
}

.frontside .card .card-body img {
    width: 286px;
    height: 395px;
}

.backside .card .card-body img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}